@* @{
	ViewData["Title"] = "ReservList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Restorant_Project.Models.Menu>
<!-- Default box -->
<div class="box">

	<div class="box-body">


		<div class="container my-5">

			<table class="table table-hover my-5">
				<thead class="table-info">
					<tr>
						<th>Serial</th>
						<th>Name </th>
						<th>Customer Email </th>
						<th>Resarvation Date </th>
						<th>Customer Count</th>
						<th>Customer Message</th>
						<th>Action</th>




					</tr>
				</thead>

				<tbody>
					@{
						int serial = 1;
						foreach (var data in Model)
						{
							<tr>
								<td>@serial</td>
								<td>@data.Name</td>
								<td>@data.Email</td>
								<td>@data.DateTime</td>
								<td>@data.PeopleCount</td>
								<td>@data.Message</td>

								<td>


									<a class="btn btn-warning" asp-route-id="@data.Id" asp-action="ReservEdit">Edit</a>

									<a class="btn btn-danger" asp-route-id="@data.Id" asp-action="ReservDelete">Delete</a>


								</td>

							</tr>

							serial++;


						}



					}


				</tbody>


			</table>


		</div>

	</div><!-- /.box-body -->

</div><!-- /.box -->  *@